<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سیستم شبکه بندی</title>

    <!-- css import-->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
          integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot-rtl.css">
    <link rel="stylesheet" href="../assets/css/style.css">


    <!-- javaScript import-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <script src="../assets/js/custom-js.js"></script>


</head>
<body>
<div class="container-fluid" style="margin-bottom: 20px">
    <div class="row">
        <div class="col-sm-12 bg-light">
            <p class="text-center text-info text-header">آموزش فریمورک بوت استرپ ۴</p>
        </div>
    </div>
</div>
<!--<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="../assets/images/3.jpeg" alt="card image">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-success btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="../assets/images/3.jpeg" alt="card image">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-success btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="../assets/images/3.jpeg" alt="card image">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-success btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="../assets/images/3.jpeg" alt="card image">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-success btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                    <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در بوتسترپ...</p>
                    <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                </div>
                <div class="card-footer">
                    <ul>
                        <li>متن ۱</li>
                        <li>متن ۲</li>
                        <li>متن ۳</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card-group">
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                            <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در
                                بوتسترپ...</p>
                            <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li>متن ۱</li>
                                <li>متن ۲</li>
                                <li>متن ۳</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="card text-white bg-danger">
                        <div class="card-body">
                            <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                            <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در
                                بوتسترپ...</p>
                            <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li>متن ۱</li>
                                <li>متن ۲</li>
                                <li>متن ۳</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="card text-white bg-primary">
                        <div class="card-body">
                            <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                            <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در
                                بوتسترپ...</p>
                            <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li>متن ۱</li>
                                <li>متن ۲</li>
                                <li>متن ۳</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <p class="card-title">دوره ی مجازی قریم ورک بوتسترپ۴</p>
                            <p class="card-text card-body-text mt-2">در این جلسه میپردازیم به مبحث کارد در
                                بوتسترپ...</p>
                            <a href="#" class="btn btn-warning btn-sm card-more">ادامه مطلب</a>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li>متن ۱</li>
                                <li>متن ۲</li>
                                <li>متن ۳</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>-->


</body>
</html>