<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سیستم شبکه بندی</title>

    <!-- css import-->

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot-rtl.css">
    <link rel="stylesheet" href="../assets/css/style.css">


    <!-- javaScript import-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <script src="../assets/js/custom-js.js"></script>


</head>
<body>
<div class="container-fluid" style="margin-bottom: 20px">
    <div class="row">
        <div class="col-sm-12 bg-light">
            <p class="text-center text-info text-header">آموزش فریمورک بوت استرپ ۴</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card p-3">
                <form action="" method="post">
                    <div class="form-group">
                        <label> آدرس ایمیل</label>
                        <input class="form-control form-control-sm mt-2" type="email" placeholder="ایمیل خود را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>کلمه عبور</label>
                        <input class="form-control form-control-sm mt-2" type="password" placeholder="کلمه عبور را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>نام</label>
                        <input class="form-control form-control-sm mt-2" type="text" placeholder="نام خود را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label>محصول خود را انتخواب کنید</label>
                        <select class="form-control form-control-sm mt-2">
                            <option value="">موبایل</option>
                            <option value="">تبلت</option>
                            <option value="">لبتاپ</option>
                            <option value="">ساعت هوشمند</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>محصولات خود را انتخواب کنید</label>
                        <select multiple class="form-control mt-2">
                            <option value="">موبایل</option>
                            <option value="">تبلت</option>
                            <option value="">لبتاپ</option>
                            <option value="">ساعت هوشمند</option>
                            <option value="">ساعت هوشمند</option>
                            <option value="">ساعت هوشمند</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="area">دیدگاه خودرا وارد کنید</label>
                        <textarea id="area" class="form-control mt-2" rows="5"></textarea>
                    </div>
                    <div class="card p-2">
                        <div class="form-group">
                            <label for="file">فایل مورد نظر را وارد کنید</label>
                            <input type="file" id="file" class="form-control-file">
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!--<div class="col-4">
            <form action="" method="post">
                <div class="form-group">
                    <label>بازه مورد نظر را انتخاب کنید</label>
                    <input type="range" class="form-control">
                </div>
            </form>
        </div>-->
        <div class="col-8">
            <form action="" method="post">
                <div class="form-inline">
                    <label> آدرس ایمیل</label>
                    <input class="form-control form-control-sm mr-2" type="email" placeholder="ایمیل خود را وارد کنید">
                    <button type="submit" class="btn btn-success mr-2">ورود</button>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label ml-2">مرا به خاطر بسپار</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label ml-2">مرا به خاطر بسپار</label>
                        <input type="radio" class="form-check-input">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>