<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سیستم شبکه بندی</title>

    <!-- css import-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot-rtl.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- javaScript import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/custom-js.js"></script>


</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-12 text-primary-color">
            <div class="bg-info">col-sm4 col-md-4</div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-12 text-primary-color">
            <div class="bg-info">col-sm4 col-md-4</div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-12 text-primary-color">
            <div class="bg-info">col-sm4 col-md-4</div>
        </div>
    </div>
</div>
<br>
<!--offset columns-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-success">col-sm4 col-md-4</div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-success">col-sm4 col-md-4</div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-success">col-sm4 col-md-4</div>
        </div>
    </div>
    <br>
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-success">col-sm4 col-md-4</div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-success">col-sm4 col-md-4</div>
        </div>
    </div>
    <br>
    <div class="row justify-content-between">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-warning">col-sm4 col-md-4</div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-primary-color">
            <div class="bg-warning">col-sm4 col-md-4</div>
        </div>
    </div>
</div>
</body>
</html>