<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <!-- css import-->

    <link rel="stylesheet" href="../assets/css/all.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot-rtl.css">
    <link rel="stylesheet" href="../assets/css/jquery.simpleTicker.css">
    <link rel="stylesheet" href="../assets/css/style.css">


</head>
<body>

<!--top header-->
<div class="container-fluid " id="custom-container-fluid">

    <div class="cover-header position-absolute w-100"></div>

    <div class="row d-flex flex-wrap flex-sm-column flex-md-row justify-content-md-between py-1 top-menu">
        <div class="col-12 col-md-3 mb-sm-2 mb-md-0">
            <div class="top-title">
                <div class="ticker pr-2" id="demo">
                    <ul>
                        <li>برگزاری دوره های مبتنی بر وب</li>
                        <li>آموزش صفر تا صد طراحی وب</li>
                        <li>آموزش زبان های سمت سرور</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="social-icon d-flex">
                <a href=""><img src="../assets/images/facebook.png" alt=""></a>
                <a href=""><img src="../assets/images/google-plus.png" alt=""></a>
                <a href=""><img src="../assets/images/telegram.png" alt=""></a>
                <a href=""><img src="../assets/images/instagram.png" alt=""></a>
            </div>
        </div>
    </div>

    <!--navbar -->
    <div class="row">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark w-100 py-0">
            <a class="navbar-brand p-0" href="#">
                <img src="../assets/images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link c-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            دوره های آموزشی
                        </a>
                        <div id="c-drop-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="container-fluid">
                                <div class="row w-100">
                                    <div class="col-12 col-md-4">
                                        <div class="alert alert-info">
                                            <p class="m-0">محبوب ترین مطالب</p>
                                        </div>
                                        <ul class="list-group p-0 nav-sub-menu">
                                            <li class="list-group-item border-0"><a href="#">بوتسترب قسمت ۵</a></li>
                                            <li class="list-group-item border-0"><a href="#">بوتسترب قسمت ۲</a></li>
                                            <li class="list-group-item border-0"><a href="#">بوتسترب قسمت ۴</a></li>
                                            <li class="list-group-item border-0"><a href="#">بوتسترب قسمت ۳</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="alert alert-info">
                                            <p class="m-0">دوره های آموزشی</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="alert alert-info">
                                            <p class="m-0">جدید ترین دوره های آموزشی</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link c-nav-link" href="#">تماس با ما <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link c-nav-link" href="#">درباره ما</a>
                    </li>
                </ul>

                <div class="mr-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link c-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle" src="../assets/images/vahid.jpeg" alt="">
                                <span class="mr-1">پروفایل کاربر</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--hero header-->
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6">
            <h4 class="banner-title text-white text-center my-5">همگام با ما برای ورود به عرصه توسعه وب</h4>
            <h5 class="text-white text-center">سون لرن برگزار کننده دوره های تخصصی برنامه نویسی</h5>

            <!--search-form-->
            <form action="" method="post" class="mt-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="جستجو کنید">
                    <div class="input-group-prepend">
                        <input type="submit" class="btn btn-info" value="بگرد">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--login and registration-->
    <div class="row justify-content-center mt-5">
        <div class="col-6 col-md-3 col-lg-2">
            <a href="#" class="btn btn-success w-100 mb-2">ورود</a>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <a href="#" class="btn btn-primary w-100 mb-1">ثبت نام</a>
        </div>
    </div>

    <!--features-->
    <div class="container mt-3">
        <div class="row text-center mt-5">
            <div class="col-12 col-md-3 m-md-0">
                <i class="fa fa-hamburger fa-3x icon"></i>
                <h3 class="text-white mt-2">۵۰۰ نفر دانشجو</h3>
            </div>
            <div class="col-12 col-md-3 mt-5 m-md-0">
                <i class="fa fa-notes-medical fa-3x icon"></i>
                <h3 class="text-white mt-2">۱۲۰۰ مقاله آموزشی</h3>
            </div>
            <div class="col-12 col-md-3 mt-5 m-md-0">
                <i class="fa fa-map fa-3x icon"></i>
                <h3 class="text-white mt-2">۲۰ دوره آموزشی</h3>
            </div>
            <div class="col-12 col-md-3 mb-5 mt-5 m-md-0">
                <i class="fa fa-clock fa-3x icon"></i>
                <h3 class="text-white mt-2">۱۵۰۰ دقیقه آموزش</h3>
            </div>
        </div>
    </div>

</div>

<!--slider section-->
<div class="container mt-4">
    <div class="row justify-content-around">

        <div class="col-12 col-lg-4 my-3 my-md-0">
            <div class="card shadow-sm bg-info">
                <div class="card-header text-dark">
                    <i class="fa fa-info-circle"></i>
                    اطلاعیه ها
                </div>
                <div class="card-body text-dark">
                    <ul class="list-group">
                        <li class="list-group-item border-0 px-2 mt-2">پیش ثبت نام دوره php
                            <span class="float-left rounded text-white p-2 info-date d-none d-sm-block">۲۰ شهریور</span>
                        </li>
                        <li class="list-group-item border-0 px-2 mt-2">پیش ثبت نام دوره php
                            <span class="float-left rounded text-white p-2 info-date d-none d-sm-block">۲۰ شهریور</span>
                        </li>
                        <li class="list-group-item border-0 px-2 mt-2">پیش ثبت نام دوره php
                            <span class="float-left rounded text-white p-2 info-date d-none d-sm-block">۲۰ شهریور</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 px-3 px-md-0">
            <div class="carousel slide carousel-fade shadow-sm" id="my-carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#my-carousel" data-slide-to="1"></li>
                    <li data-target="#my-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../assets/images/slider1.jpg" alt="first slide">
                        <div class="carousel-caption">
                            <p>دوره آموزشی بوتسترب ۴</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/slider2.jpg" class="d-block w-100" alt="second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/slider3.jpg" class="d-block w-100" alt="third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#my-carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#my-carousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<!--main content section-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/a.jpg" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/b.png" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/c.png" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/d.png" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/e.png" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/f.png" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/h.png" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 mb-2">
            <div class="card position-relative my-card">
                <span class="position-absolute card-label">مقاله</span>
                <span class="position-absolute badge badge-warning card-badge">جدید</span>
                <span class="position-absolute publish-date bg-primary">۳۱ تیر ۹۷</span>
                <img class="card-img-top" src="../assets/images/i.jpg" alt="">
                <div class="card-body">
                    <a href="#" class="card-title">دوره مجازی بوتسترب ۴: جلسه۲۱</a>
                </div>
                <div class="card-footer text-center p-1">
                    <ul class="list-inline p-0 m-0 post-info">
                        <li class="list-inline-item"><i class="fa fa-wallet ml-1"></i>رایگان</li>
                        <li class="list-inline-item"><i class="fa fa-comment ml-1"></i>۲۱</li>
                        <li class="list-inline-item"><i class="fa fa-eye ml-1"></i>۴۵</li>
                        <li class="list-inline-item"><i class="fa fa-link ml-1"></i>۱۲</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--utility section-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-4 mb-2">
            <div class="panel rounded shadow-sm">
                <div class="panel-title text-center mb-1">پیشرفت دوره های آموزشی</div>
                <div class="panel-body">
                    <span class="progress-title">آموزش بوتسترپ ۴</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                             style="width: 63%"></div>
                    </div>
                    <span class="progress-title">آموزش اسکریپت نویسی PHP</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                             style="width: 40%"></div>
                    </div>
                    <span class="progress-title">آموزش لاراول</span>
                    <div class="progress  mb-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                             style="width: 86%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="panel rounded shadow-sm">
                <div class="panel-title text-center mb-1">نظرات دانشجویان</div>
                <div class="panel-body">
                    <div class="carousel slide carousel-fade" id="comment-carousel" data-ride="carousel">
                        <!--<ol class="carousel-indicators">
                            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#my-carousel" data-slide-to="1"></li>
                            <li data-target="#my-carousel" data-slide-to="2"></li>
                        </ol>-->
                        <div class="carousel-inner rounded">
                            <div class="carousel-item active">
                                <div class="panel-header rounded">
                                    <img class="rounded-circle" src="../assets/images/vahid.jpeg" alt="">
                                    <span>دوره اسکریپت نویسی php</span>
                                </div>
                                <p class="user-comment text-justify">دوره بسیار کاملی بود ممنون از تلاش شما با تشکر.
                                    دوره بسیار کاملی بود ممنون از تلاش شما با تشکر</p>
                            </div>
                            <div class="carousel-item">
                                <div class="panel-header rounded">
                                    <img class="rounded-circle" src="../assets/images/vahid.jpeg" alt="">
                                    <span>دوره اسکریپت نویسی php</span>
                                </div>
                                <p class="user-comment text-justify">دوره بسیار کاملی بود ممنون از تلاش شما با تشکر.
                                    دوره بسیار کاملی بود ممنون از تلاش شما با تشکر</p>
                            </div>
                            <div class="carousel-item">
                                <div class="panel-header rounded">
                                    <img class="rounded-circle" src="" alt="">
                                    <span>دوره اسکریپت نویسی php</span>
                                </div>
                                <p class="user-comment text-justify">دوره بسیار کاملی بود ممنون از تلاش شما با تشکر.
                                    دوره بسیار کاملی بود ممنون از تلاش شما با تشکر</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="panel rounded shadow-sm">
                <div class="panel-title text-center mb-1">تماس با ما</div>
                <div class="panel-body">
                    <form action="">
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">نام</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ایمیل</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <textarea type="text" class="form-control mb-1" name="" id="" cols="30"  placeholder="پیام شما"></textarea>
                        <input type="submit" class="btn btn-success btn-sm btn-block mb-1" value="ارسال پیام">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>

<!-- javaScript import-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<script src="../assets/js/jquery-3.6.0.min.js"></script>
<script src="../assets/js/jquery.simpleTicker.js"></script>
<script src="../assets/js/custom-js.js"></script>

</body>
</html>