<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سیستم شبکه بندی</title>

    <!-- css import-->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot-rtl.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- javaScript import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/custom-js.js"></script>


</head>
<body>
<br>

<div class="container-fluid" style="margin-bottom: 20px">
    <div class="row">
        <div class="col-sm-12 bg-light">
            <p class="text-center text-info text-header">آموزش فریمورک بوت استرپ ۴</p>
        </div>
    </div>
</div>
<!--menu section-->
<div class="container-fluid bg-light">
    <div class="row justify-content-center">
        <div class="col-8">
            <div>منوی سایت</div>
        </div>
    </div>
</div>
<!--content section-->
<br>
<div class="container">
    <div class="row">
        <!--sidBar-->
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bg-info">
                        sidbar 1
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <div class="bg-success">
                        sidbar 2
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--content-->
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bg-success">
                        content1
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <div class="bg-info">
                        content2
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!--footer section-->
<div class="container-fluid bg-warning">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div style="text-align: center">فوتر سایت</div>
        </div>
    </div>
</div>
</body>
</html>