*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'sahel';
    src: url("../fonts/sahel.woff") format('woff');
}

body {
    font-family: sahel, serif;
    font-size: 20px;
}


/*project style*/


/*top header*/
#custom-container-fluid{
    height:100vh;
    background-size: cover;
    background-image: url(../images/office.jpg);
    position: relative;
    margin: 0;
}

.cover-header{
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.top-menu{
    background: rgba(0,0,0,0.3);
}

.top-title{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.ticker{
    height: 32px!important;
    font-size: 14px;
}

.ticker ul li{
    top: 5px!important;
}

.social-icon img{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .top-menu{
        height: 70px;
    }
}
