*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'sahel';
    src: url("../fonts/sahel.woff") format('woff');
}

body {
    font-family: sahel, serif;
    font-size: 20px;
}

a,a:hover{
    text-decoration: none!important;
}

/*project style*/


/*top header*/
#custom-container-fluid{
    height:100vh;
    background-size: cover;
    background-image: url(../images/office.jpg);
    position: relative;
    margin: 0;
}

.cover-header{
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.top-menu{
    background: rgba(0,0,0,0.3);
}

.top-title{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.ticker{
    height: 32px!important;
    font-size: 14px;
}

.ticker ul li{
    top: 5px!important;
}

.social-icon img{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    cursor: pointer;
}

/* navbar */
.navbar-nav .nav-link{
    font-size: 1rem;
}

.navbar-nav .nav-link img{
    width: 36px;
    height: 36px;
}

#c-drop-menu{
    width: 100%;
    border-radius: 0;
}

.nav-sub-menu li a{
    color: #4e555b;
    font-size: 14px;
}
