@font-face {
    font-family: 'sahel';
    src: url("assets/fonts/Sahel.woff") format('woff');
}

body {
    font-family: sahel;
    font-size: 25px;
}

.text-primary-color{
    color: #ffffff;
}

.text-header{
    line-height: 0;
    padding: 30px;
    margin: 0px;
}